<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li><a href="about-intro.html">关于荷裕</a> <span class="divider">/</span></li>
		<li class="active">公司简介</li>
	</ul>
</div>
{{>about_nav}}
<div class="span9">
	<section class="well well-small">
		<dl class="site-desc">
			<dt><h4><i class="icon-caret-right"></i> 公司概况</h4></dt>
			<dd>
				<img src="public/img/corp-img-01.png" alt="" class="pull-right img-polaroid">
				<p>上海荷裕冷冻食品有限公司，由荷兰荷丰冷冻食品和Fish Con控股，于2008年11月成立于上海，专业从事海产品深加工，尤其专注于各类三文鱼的加工。</p>
				<p>公司位于奉贤现代农业开发区，自然生态、空气清新，地里位置优越，离S4高速公路大叶公路出口1.5公里，距虹桥机场29公里，浦东机场52公里。</p>
				<p>公司引进欧洲先进的加工设备，采用欧洲经典的加工工艺，以生产安全、健康、美味的高品质海产品作为企业发展的前提。公司以QS、ISO22000、HACCP和EU等质量体系为指导，以科学的方法实现严谨的品质管理。我们从世界各地采购最安全最新鲜的原料，并在生产过程中实施全方位品质管理，以我们最大的努力向广大消费者提供最高品质的产品！</p>
				<hr>
			</dd>
			<dt><h4><i class="icon-caret-right"></i> 公司宗旨</h4></dt>
			<dd>
				<img src="public/img/corp-img-02.png" alt="" class="pull-right img-polaroid">
				<p>上海荷裕冷冻食品有限公司以生产具有高附加价值、高品质的健康海产品为主要任务，并且希望在努力满足国内快速增长的市场需求的同时能够不断创新，引领海产消费的新理念。</p> 
				<p>保护自然环境，坚持可持续发展，提供安全、良好的工作条件和设施及符合并履行中国劳动法规的相关要求，实现和谐发展是我们对社会的承诺；产品安全，企业诚信是我们经营的最基本准则。</p>
				<p>我们以保护环境、以人为本，秉承公平，崇尚人性化为基准实施经营管理；以客户的需求为目标；通过我们热忱的技术销售团队，以及敏锐的洞察力，预测和掌握市场的需求；通过我们研发团队卓越的工作实现与我们的用户共同发展。</p>
				<p>我们的宗旨是：</p>
				<ul>
					<li>以责任实现安全；</li>
					<li>以专业实现超越；</li>
					<li>以敬业实现诉求；</li>
					<li>以真诚实现共赢！</li>
				</ul>
				<hr>
			</dd>
			<dt><h4><i class="icon-caret-right"></i> 质量控制</h4></dt>
			<dd>
				<p>荷裕食品通过ISO22000和HACCP等质量体系认证，在生产加工的各个环节严格执行相关质量控制。并且，我们企业建立了不断完善的质量控制计划，我们始终坚持最严格的视频安全标准。</p>
				<p> 品评过程对于检测产品质量在包装、形态、口味及口感方面至关重要。我们通过不断的品评和监测来确保我们能向消费者提供使之满意的产品。在食品工业中，“从农场到餐桌”的可追溯系统是保证食品安全的关键，我们荷裕食品保证所有使用的原料及辅料都能追溯到源头。</p>
				<img src="public/img/Certificate-ISO22000.png" alt="ISO22000" class="img-polaroid">
				<img src="public/img/Certificate-HACCP.png" alt="HACCP" class="img-polaroid img-gap">
			</dd>
		</dl>
	</section>
</div>