<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li><a href="about-intro.html">关于荷裕</a> <span class="divider">/</span></li>
		<li class="active">产品系列</li>
	</ul>
</div>
{{>about_nav}}
<div class="span9">
	<section class="well well-small">
		<p>荷裕冷冻食品的加工厂设计生产能力为每年生产2500吨高附加值海产品。</p>
		<p>我们的主要产品范围包括：</p>
		<ol>
			<li>冰鲜刺身三文鱼柳、三文鱼块、三文鱼片等；</li>
			<li>冷冻三文鱼柳、三文鱼块、三文鱼排等；</li>
			<li>高附加值三文鱼产品，包括：
				<ul>
					<li>冷熏三文鱼、虹鳟鱼产品；</li>
					<li>热熏三文鱼产品；</li>
					<li>腌制调味三文鱼产品；</li>
					<li>三文鱼香肠等；</li>
				</ul>
			</li>
			<li>其他高附加值海产品</li>
		</ol>
		<p>我们的产品主要面向国内以及国外市场的广大餐饮、酒店、连锁零售等渠道客户。我们非常期待与您携手共进！</p>
	</section>
</div>