<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li><a href="about-intro.html">关于荷裕</a> <span class="divider">/</span></li>
		<li class="active">联系我们</li>
	</ul>
</div>
{{>about_nav}}
<div class="span9">
	<section class="well well-small">
		<h2>上海荷裕冷冻食品有限公司</h2>
		<addr>
			<strong>中国上海奉贤现代农业经济园区汇丰西路1438号</strong><br>
			<abbr title="Zipcode">邮编</abbr> 201401<br>
			<abbr title="Phone">电话:</abbr> +86 21-37196700 <br>
			<abbr title="Fax">传真:</abbr> +86 21-37196709<br>
			<abbr title="Email">电邮:</abbr> info@hollywinseafood.com
		</addr>
		<div id="dituContent"></div>
	</section>
</div>