<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li><a href="cook.html">美味食谱</a></li> <span class="divider">/</span></li>
		<li><a href="cook-basa.html">龙利鱼</a></li> <span class="divider">/</span></li>
		<li class="active">冷冻龙利鱼片</li>
	</ul>
</div>
{{>cook_nav}}
<div class="span9">
	<section class="well well-small cook-content">
		<h4><i class="icon-paper-clip"></i> 香煎挪威开片竹荚鱼</h4>
		<a data-toggle="modal" href="#myModal"><img src="public/img/cook-basa-menu01-s.png" alt="香煎挪威开片竹荚鱼" class="pull-right img-polaroid"></a>
		<p><strong>配料: 荷裕挪威开片竹荚鱼300g、洋葱1个、柠檬1个。</strong></p>
		<ol>
			<li>鱼从-18℃取出后放入冷藏室≤4℃中解冻，6-8小时解冻后备用。</li>
			<li>洋葱洗净，切丝。</li>
			<li>解冻后，平底锅中加入少许色拉油或黄油加热，放入洋葱丝、适量盐炒2分钟装入盘中。</li>
			<li>平底锅中加入少许色拉油或黄油加热，放入鱼后中火两面各煎2-3分钟直至煎熟。装盘另一侧挤上少许柠檬汁。如图。</li>
		</ol>
		<div class="clearfix"></div>
	</section>

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"></h3>
            </div>
            <div class="modal-body">
              	<img class="img-polaroid" id="menu-pic">
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
</div>