<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li><a href="cook.html">美味食谱</a></li> <span class="divider">/</span></li>
		<li><a href="cook-salmon.html">三文鱼</a></li> <span class="divider">/</span></li>
		<li class="active">烟熏三文鱼</li>
	</ul>
</div>
{{>cook_nav}}
<div class="span9">
	<section class="well well-small cook-content">
		<h3>烟熏三文鱼</h3>
		<hr>
	      <img src="public/img/cook-salmon-1.png" alt="烟熏三文鱼" class="pull-right img-polaroid">
		<p>荷裕烟熏三文鱼选用无污染、冷水域养殖的优质三文鱼。</p>
		<p>选用欧洲进口的高档熏制果木，采用欧洲传统的烟熏加工工艺加工。</p>
		<p>色泽橙红鲜艳，香味浓郁，肉质细腻，入口爽滑且不肥腻。</p>
		<p>不添加防腐剂，精工细作，最大限度的保留鱼肉中所含的DHA和EPA。</p>
		<p>采用严格的质量管理使产品更卫生、更安全。</p>
		<hr>
		<h4><i class="icon-paper-clip"></i> 烟熏三文鱼配芦笋</h4>
		<a data-toggle="modal" href="#myModal"><img src="public/img/cook-salmon-menu01-s.png" alt="烟熏三文鱼配芦笋" class="pull-right img-polaroid"></a>
		<p><strong>配料：荷裕烟熏三文鱼、芦笋、食盐、橄榄油、白砂糖、生菜</strong></p>
		<ol>
			<li>烟熏三文鱼从-18℃取出后放入冷藏室≤4℃中解冻，6-8小时解冻后备用.</li>
			<li>热水中加适量食盐煮开，放入洗净后绿芦笋漂烫。入冷水中过冷。</li>
			<li>绿芦笋切割成相同长度加少量橄榄油拌均，整齐摆于盘中。</li>
			<li>烟熏三文鱼卷成花朵样、放在芦笋上，如图所示。</li>
		</ol>
		<div class="clearfix"></div>
	</section>

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"></h3>
            </div>
            <div class="modal-body">
              	<img class="img-polaroid" id="menu-pic">
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
</div>