<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li><a href="cook.html">美味食谱</a></li> <span class="divider">/</span></li>
		<li class="active">三文鱼</li>
	</ul>
</div>
{{>cook_nav}}
<div class="span9">
	<section class="well well-small cook-content">
		<h3>三文鱼原料介绍</h3>
		<hr>
	      <img src="public/img/cook-salmon-large.png" alt="三文鱼" class="pull-right img-polaroid">
		<p>三文鱼是非常灵性、聪明的鱼类。小时候生活在小溪河流中，长大后在广阔的海洋中遨游，成年后凭着执着的神奇力量从不远万里的深海海洋回溯到养育它的河流上游，它可以跨域激流，与棕熊搏斗，它可以奋力一跃达3.0米，将陡坡险途踩于脚下。三文鱼每年跋涉的光辉征程，使我们不得不赞叹生命的神奇与力量。</p>
	      <p>三文鱼营养丰富，具有高蛋白、高不饱和脂肪酸、低能量等特点，每100g三文鱼鱼肉中含蛋白质20g，不饱和脂肪酸3.9g，ω-3不饱和脂肪酸2.7g，更含有脑黄金之称DHA 1.3g，EPA0.6g，每100g鱼肉的热量仅有183大卡。经常食用对身体健康有众多益处。</p>
	</section>
</div>