<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li><a href="cook.html">美味食谱</a></li> <span class="divider">/</span></li>
		<li><a href="cook-basa.html">龙利鱼</a></li> <span class="divider">/</span></li>
		<li class="active">冷冻龙利鱼片</li>
	</ul>
</div>
{{>cook_nav}}
<div class="span9">
	<section class="well well-small cook-content">
		<h3>冷冻龙利鱼片</h3>
		<hr>
	      <img src="public/img/cook-basa-1.png" alt="冷冻龙利鱼片" class="pull-right img-polaroid">
		<p>荷裕龙利鱼采用无污染冷水域养殖的优质原料</p>
		<p>选急鲜处理的优质龙利鱼片。</p>
		<p>不添加保水剂、添加剂、防腐剂。</p>
		<p>精工细作，最大限度的保留鱼肉中所含的营养成分。</p>
		<p>采用严格的质量管理使产品更卫生、更安全。</p>
		<hr>
		<h4><i class="icon-paper-clip"></i> 香酥鱼片</h4>
		<a data-toggle="modal" href="#myModal"><img src="public/img/cook-basa-menu01-s.png" alt="香酥鱼片" class="pull-right img-polaroid"></a>
		<p><strong>配料: 荷裕龙利鱼片200g、白胡椒、料酒、盐、糖、脆炸粉100g、色拉油、沙拉菜、小番茄2个、甜椒1个 ，橄榄油。</strong></p>
		<p><strong>酱料：沙拉酱  。</strong></p>
		<ol>
			<li>鱼片从-18℃取出后放入冷藏室≤4℃中解冻，6-8小时解冻后备用。</li>
			<li>鱼片切成条状，加入白胡椒、盐、糖、料酒腌渍10分钟。</li>
			<li>沙拉菜、小番茄、甜椒洗净后拌橄榄油、沙拉酱放在盘子的一边。</li>
			<li>脆浆粉加适量水拌成糊状，放入鱼条裹浆，入热油中油炸3-4分钟。炸至表面金黄盛在盘的另一边，如图。</li>
		</ol>
		<div class="clearfix"></div>
	</section>

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"></h3>
            </div>
            <div class="modal-body">
              	<img class="img-polaroid" id="menu-pic">
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
</div>