<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li><a href="cook.html">美味食谱</a></li> <span class="divider">/</span></li>
		<li class="active">龙利鱼</li>
	</ul>
</div>
{{>cook_nav}}
<div class="span9">
	<section class="well well-small cook-content">
		<h3>龙利鱼</h3>
		<hr>
	      <img src="public/img/cook-basa-large.png" alt="龙利鱼" class="pull-right img-polaroid">
		<p>龙利鱼，又名猫鱼，巴町，舌鳎鱼，英文称BASA，BASSA，PANGASIUS。属鲶形目鱼类，体无磷。自然分布在东南亚海域，此鱼肉味道鲜美，口感爽滑，鱼肉久煮不老不碎，无腥味异味，高蛋白，营养丰富，历来是我国广大消费者待客的上等佳品，目前活鱼市场价格很高，我国在近一两年才大量的引上酒店，餐厅饭桌，属新出菜肴，深受广大食家的青眯及好评。</p>
	      <p>龙利鱼营养丰富，具有高蛋白、低能量等特点，每100g鱼肉中含蛋白质29.4g，不饱和脂肪酸2.35g，每100g鱼肉的热量仅有176.5大卡。龙利鱼脂肪中含有的多不饱和脂肪酸，对改善抗动脉粥样硬化，对防治心脑血管疾病和增强记忆颇有益处。</p>

	</section>
</div>