<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li class="active">美味食谱</li>
	</ul>
</div>
{{>cook_nav}}
<div class="span9">
	<ul class="thumbnails cook-list">
		<li class="span3">
			<div class="thumbnail">
				<img src="public/img/cook-salmon.png" alt="三文鱼">
				<h3>三文鱼原料介绍</h3>
				<p>三文鱼是非常灵性、聪明的鱼类。小时候生活在小溪河流中，长大后在广阔的海洋中遨游，成年后凭着执着的神奇力量从不远万里的深海海洋回溯到养育它的河流上游，它可以跨域激流，与棕熊搏斗，它可以奋力一跃达3.0米...</p>
				<p class="btn-line">
					<a href="cook-salmon.html" class="btn btn-primary pull-right"><i class="icon-book"></i> 详细</a>
				</p>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<img src="public/img/cook-basa.png" alt="龙利鱼">
				<h3>龙利鱼原料介绍</h3>
				<p>龙利鱼，又名猫鱼，巴町，舌鳎鱼，英文称BASA，BASSA，PANGASIUS。属鲶形目鱼类，体无磷。自然分布在东南亚海域，此鱼肉味道鲜美，口感爽滑，鱼肉久煮不老不碎，无腥味异味，高蛋白，营养丰富，历来是我...</p>
				<p class="btn-line">
					<a href="cook-basa.html" class="btn btn-primary pull-right"><i class="icon-book"></i> 详细</a>
				</p>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<img src="public/img/cook-marckerel.png" alt="竹荚鱼">
				<h3>竹荚鱼原料介绍</h3>
				<p>竹荚鱼（mackerel）拉丁文名（TRACHURUS TRACHURUS），日语称：あ じ （アジ）也称马鲭鱼。是中上层洄游性鱼类，游泳迅速，喜爱结群。侧线上有似刺一样的硬鳞 ——菱鳞， 菱鳞成为竹荚鱼的特征...</p>
				<p class="btn-line">
					<a href="cook-marckerel.html" class="btn btn-primary pull-right"><i class="icon-book"></i> 详细</a>
				</p>
			</div>
		</li>
	</ul>
</div>