<div id="myCarousel" class="span10 	carousel slide">
	<div class="carousel-inner">
		{{#items}}
		<div class="item{{{active}}}">
			<img src="public/img/{{{img}}}.jpg" alt="">
			<div class="carousel-caption">
				<h4>{{name}}</h4>		
			</div>
		</div>
		{{/items}}
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
<div class="span2" id="taobao">
	<a href="http://hollywin.taobao.com/" target="new"><img src="http://placehold.it/140x300&amp;text=TB Shop" alt="" width="140" hieght="300"></a>
</div>
<div class="span2" id="cook-brief">
	<h4>本周推荐食谱</h4>
	<div>
		<p><strong>烟熏三文鱼色拉</strong></p>
		文字文字......
	</div>
</div>