<div id="myCarousel" class="span10 	carousel slide">
	<div class="carousel-inner">
		{{#items}}
		<div class="item{{{active}}}">
			<img src="public/img/{{{img}}}.jpg" alt="">
			<div class="carousel-caption">
				<h4>{{name}}</h4>		
			</div>
		</div>
		{{/items}}
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
<div class="span2" id="taobao">
	<a href="http://hollywin.taobao.com/" target="new"><img src="public/img/taobao-shop.png" alt="" width="140" hieght="300"></a>
</div>
<div class="span2" id="cook-brief">
	<h4>推荐食谱</h4>
	<ul>
		<li><a href="cook-salmon-1.html">烟熏三文鱼配芦笋</a></li>
		<li><a href="cook-basa-1.html">香酥鱼片</a></li>
		<li><a href="cook-marckerel-1.html">香煎挪威开片竹荚鱼</a></li>
	</ul>
</div>

<div class="span3 home-block">
	<!-- <div class="well well-small">
		<h5>全面权威的质量认证</h5>
		<ul class="unstyled certificate-list">
			<li class="pull-left"><img src="public/img/t_Certificate-ISO22000.png" alt="ISO22000" class="img-polaroid"></li>
			<li class="pull-right"><img src="public/img/t_Certificate-HACCP.png" alt="HACCP" class="img-polaroid"></li>
			<li class="pull-left"><img src="public/img/t_Certificate-EU.png" alt="EU" class="img-polaroid"></li>
			<li class="pull-right"><img src="public/img/t_Certificate-QS.png" alt="QS" class="img-polaroid"></li>
		</ul>
		<div class="clearfix"></div>
	</div> -->
	<div class="well well-small">
		<h5>新鲜纯正的原料来源</h5>
	</div>
</div>
<div class="span3 home-block">
	<div class="well well-small">
		<h5>重重设防的卫生把控</h5>
	</div>
</div>
<div class="span3 home-block">
	<div class="well well-small">
		<h5>严格细致的加工流程</h5>
	</div>
</div>
<div class="span3 home-block">
	<div class="well well-small">
		<h5>专业卓著的产品研发</h5>
	</div>
</div>

<div class="span12">
	<h4>合作单位</h4>
	<hr>
</div>
