<div class="span12">
	<ul class="breadcrumb">
		<li><a href="./">首页</a> <span class="divider">/</span></li>
		<li class="active">海产知识</li>
	</ul>
</div>
{{>know_nav}}
<div class="span9">
	<section class="well well-small">
		<h3>本栏目将陆续为大家推出一些海产知识的普及文章，供大家参考和阅读！</h3>
	</section>
</div>