<div class="span3">
	<aside class="well well-small">
		<ul class="nav nav-pills nav-stacked">
			<li{{{intro}}}><a href="about-intro.html"><i class="icon-flag"></i> 公司简介</a></li>
			<li{{{pros}}}><a href="about-pros.html"><i class="icon-barcode"></i> 经营范围</a></li>
			<li{{{contact}}}><a href="about-contact.html"><i class="icon-envelope-alt"></i> 联系我们</a></li>
			<li{{{recruit}}}><a href="about-recruit.html"><i class="icon-group"></i> 招贤纳才</a></li>
		</ul>
	</aside>
</div>