<div class="span3">
	<ul class="nav nav-pills nav-stacked">
		<li{{{intro}}}><a href="about-intro.html">公司简介</a></li>
		<li{{{contact}}}><a href="about-contact.html">联系我们</a></li>
		<li{{{recruit}}}><a href="about-recruit.html">招贤纳才</a></li>
	</ul>
</div>