<div class="span3">
	<aside class="well well-small">
		<ul class="nav nav-pills nav-stacked cooks">
			<li{{{salmon}}}>
				<a href="cook-salmon.html"><i class="icon-tag"></i> 三文鱼</a>
				<ul class="unstyled">
					<li>
						<a href="cook-salmon-1.html">烟熏三文鱼</a>
					</li>
					<!-- <li>
						<a href="cook-salmon-2.html">香草三文鱼</a>
					</li>
					<li>
						<a href="cook-salmon-3.html">热熏三文鱼（黑椒/原味）</a>
					</li>
					<li>
						<a href="cook-salmon-4.html">三文鱼刺身</a>
					</li>
					<li>
						<a href="cook-salmon-5.html">三文鱼排</a>
					</li>
					<li>
						<a href="cook-salmon-6.html">照烧三文鱼</a>
					</li>
					<li>
						<a href="cook-salmon-7.html">炙烤三文鱼寿司片</a>
					</li>
					<li>
						<a href="cook-salmon-8.html">烟熏三文鱼寿司片</a>
					</li>
					<li>
						<a href="cook-salmon-9.html">三文鱼鳍</a>
					</li>
					<li>
						<a href="cook-salmon-10.html">三文鱼串</a>
					</li>
					<li>
						<a href="cook-salmon-11.html">三文鱼串（块）</a>
					</li>
					<li>
						<a href="cook-salmon-12.html">三文鱼香肠</a>
					</li>
					<li>
						<a href="cook-salmon-13.html">酥皮三文鱼香肠</a>
					</li>
					<li>
						<a href="cook-salmon-14.html">调味三文鱼头</a>
					</li> -->
				</ul>
			</li>
			<li{{{basa}}}>
				<a href="cook-basa.html"><i class="icon-tag"></i> 龙利鱼</a>
				<ul class="unstyled">
					<li>
						<a href="cook-basa-1.html">冷冻龙利鱼片</a>
					</li>
					<!-- <li>
						<a href="cook-basa-2.html">柠檬香煎鱼排</a>
					</li>
					<li>
						<a href="cook-basa-3.html">黑椒鱼排</a>
					</li>
					<li>
						<a href="cook-basa-4.html">日式风味鱼排</a>
					</li> -->
				</ul>
			</li>
			<li{{{marckerel}}}>
				<a href="cook-marckerel.html"><i class="icon-tag"></i> 竹荚鱼</a>
				<ul class="unstyled">
					<li>
						<a href="cook-marckerel-1.html">挪威开片竹荚鱼</a>
					</li>
				</ul>
			</li>
		</ul>
	</aside>
</div>