<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#"></a>
			<ul class="nav">
				<li{{{index}}}><a href="index.html">首页</a></li>
				<li{{{seafood}}}><a href="seafood.html">产品系列</a></li>
				<li{{{cook}}}><a href="cook.html">参考食谱</a></li>
				<li{{{pedia}}}><a href="pedia.html">海产知识</a></li>
				<li{{{about}}}><a href="about-intro.html">关于荷裕</a></li>
			</ul>
		</div>
	</div>
</header>