<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#"></a>
			<ul class="nav">
				<li{{{index}}}><a href="index.html">首页</a></li>
				<li{{{seafood}}}><a href="seafood.html">荷裕产品</a></li>
				<li{{{cook}}}><a href="cook.html">美味食谱</a></li>
				<li{{{knowledge}}}><a href="knowledge.html">海产知识</a></li>
				<li{{{about}}}><a href="about-intro.html">关于荷裕</a></li>
			</ul>
		</div>
	</div>
</header>