<div class="span3">
	<aside class="well well-small">
		<ul class="nav nav-pills nav-stacked cooks">
			<li{{{salmon}}}>
				<a href="knowledge-salmon.html"><i class="icon-tag"></i> 三文鱼介绍</a>
			</li>
		</ul>
	</aside>
</div>